# sk learn implementation

1. make the thing
1. fit the thing
1. use the thing

In [35]:
from scipy import stats
import pandas as pd
import numpy as np

import sklearn.preprocessing
from sklearn.model_selection import train_test_split

import pydataset

df = pydataset.data('sat.act')

df.head()

       gender  education  age  ACT  SATV   SATQ
29442       2          3   19   24   500  500.0
29457       2          3   23   35   600  500.0
29498       2          3   20   21   480  470.0
29503       1          4   27   26   550  520.0
29504       1          2   33   31   600  550.0

In [5]:
# 1. make the thing
scaler = sklearn.preprocessing.MinMaxScaler()
# 2. Fit the thing
scaler.fit(df[['age']])
# 3. Use the thing
scaler.transform(df[['age']])

array([[0.11538462],
       [0.19230769],
       [0.13461538],
       [0.26923077],
       [0.38461538],
       [0.25      ],
       [0.32692308],
       [0.11538462],
       [0.19230769],
       [0.51923077],
       [0.19230769],
       [0.40384615],
       [0.36538462],
       [0.53846154],
       [0.13461538],
       [0.21153846],
       [0.11538462],
       [0.21153846],
       [0.42307692],
       [0.63461538],
       [0.80769231],
       [0.23076923],
       [0.09615385],
       [0.71153846],
       [0.42307692],
       [0.15384615],
       [0.40384615],
       [0.46153846],
       [0.26923077],
       [0.30769231],
       [0.09615385],
       [0.19230769],
       [0.17307692],
       [0.19230769],
       [0.78846154],
       [0.13461538],
       [0.53846154],
       [0.75      ],
       [0.09615385],
       [0.42307692],
       [0.26923077],
       [0.19230769],
       [0.5       ],
       [0.32692308],
       [0.76923077],
       [0.07692308],
       [0.26923077],
       [0.32692308],
       [0.40384615],
       [0.26923077],
       [0.42307692],
       [0.21153846],
       [0.19230769],
       [0.26923077],
       [0.19230769],
       [0.28846154],
       [0.21153846],
       [0.13461538],
       [0.36538462],
       [0.11538462],
       [0.67307692],
       [0.57692308],
       [0.38461538],
       [0.42307692],
       [0.09615385],
       [0.34615385],
       [0.07692308],
       [0.19230769],
       [0.30769231],
       [0.15384615],
       [0.11538462],
       [0.11538462],
       [0.26923077],
       [0.51923077],
       [0.42307692],
       [0.21153846],
       [0.32692308],
       [0.07692308],
       [0.26923077],
       [0.51923077],
       [0.44230769],
       [0.32692308],
       [0.23076923],
       [0.30769231],
       [0.48076923],
       [0.36538462],
       [0.65384615],
       [0.11538462],
       [0.19230769],
       [0.48076923],
       [0.19230769],
       [0.11538462],
       [0.15384615],
       [0.19230769],
       [0.30769231],
       [0.21153846],
       [0.34615385],
       [0.76923077],
       [0.13461538],
       [0.21153846],
       [0.71153846],
       [0.19230769],
       [0.19230769],
       [0.19230769],
       [0.17307692],
       [0.19230769],
       [1.        ],
       [0.13461538],
       [0.25      ],
       [0.5       ],
       [0.25      ],
       [0.15384615],
       [0.38461538],
       [0.23076923],
       [0.17307692],
       [0.25      ],
       [0.38461538],
       [0.15384615],
       [0.19230769],
       [0.11538462],
       [0.19230769],
       [0.11538462],
       [0.46153846],
       [0.15384615],
       [0.40384615],
       [0.32692308],
       [0.11538462],
       [0.11538462],
       [0.13461538],
       [0.28846154],
       [0.61538462],
       [0.28846154],
       [0.23076923],
       [0.84615385],
       [0.94230769],
       [0.40384615],
       [0.44230769],
       [0.21153846],
       [0.92307692],
       [0.15384615],
       [0.32692308],
       [0.17307692],
       [0.13461538],
       [0.17307692],
       [0.17307692],
       [0.57692308],
       [0.25      ],
       [0.44230769],
       [0.17307692],
       [0.07692308],
       [0.05769231],
       [0.07692308],
       [0.05769231],
       [0.86538462],
       [0.05769231],
       [0.07692308],
       [0.09615385],
       [0.19230769],
       [0.26923077],
       [0.26923077],
       [0.28846154],
       [0.42307692],
       [0.17307692],
       [0.09615385],
       [0.26923077],
       [0.38461538],
       [0.07692308],
       [0.51923077],
       [0.84615385],
       [0.57692308],
       [0.11538462],
       [0.51923077],
       [0.46153846],
       [0.48076923],
       [0.25      ],
       [0.25      ],
       [0.13461538],
       [0.51923077],
       [0.19230769],
       [0.48076923],
       [0.07692308],
       [0.15384615],
       [0.38461538],
       [0.17307692],
       [0.07692308],
       [0.55769231],
       [0.13461538],
       [0.84615385],
       [0.38461538],
       [0.17307692],
       [0.86538462],
       [0.13461538],
       [0.17307692],
       [0.21153846],
       [0.23076923],
       [0.21153846],
       [0.80769231],
       [0.11538462],
       [0.21153846],
       [0.25      ],
       [0.46153846],
       [0.59615385],
       [0.42307692],
       [0.23076923],
       [0.32692308],
       [0.19230769],
       [0.09615385],
       [0.07692308],
       [0.07692308],
       [0.25      ],
       [0.25      ],
       [0.09615385],
       [0.09615385],
       [0.09615385],
       [0.09615385],
       [0.07692308],
       [0.46153846],
       [0.09615385],
       [0.32692308],
       [0.19230769],
       [0.13461538],
       [0.44230769],
       [0.71153846],
       [0.09615385],
       [0.15384615],
       [0.09615385],
       [0.15384615],
       [0.13461538],
       [0.36538462],
       [0.07692308],
       [0.21153846],
       [0.32692308],
       [0.11538462],
       [0.28846154],
       [0.15384615],
       [0.15384615],
       [0.17307692],
       [0.42307692],
       [0.17307692],
       [0.15384615],
       [0.17307692],
       [0.28846154],
       [0.11538462],
       [0.28846154],
       [0.07692308],
       [0.17307692],
       [0.11538462],
       [0.09615385],
       [0.09615385],
       [0.07692308],
       [0.19230769],
       [0.15384615],
       [0.13461538],
       [0.28846154],
       [0.17307692],
       [0.11538462],
       [0.32692308],
       [0.09615385],
       [0.09615385],
       [0.32692308],
       [0.57692308],
       [0.19230769],
       [0.13461538],
       [0.71153846],
       [0.51923077],
       [0.25      ],
       [0.25      ],
       [0.07692308],
       [0.34615385],
       [0.13461538],
       [0.34615385],
       [0.80769231],
       [0.11538462],
       [0.11538462],
       [0.23076923],
       [0.32692308],
       [0.11538462],
       [0.09615385],
       [0.17307692],
       [0.19230769],
       [0.23076923],
       [0.17307692],
       [0.13461538],
       [0.13461538],
       [0.09615385],
       [0.09615385],
       [0.15384615],
       [0.23076923],
       [0.25      ],
       [0.13461538],
       [0.40384615],
       [0.17307692],
       [0.13461538],
       [0.21153846],
       [0.42307692],
       [0.40384615],
       [0.21153846],
       [0.44230769],
       [0.26923077],
       [0.15384615],
       [0.61538462],
       [0.84615385],
       [0.11538462],
       [0.11538462],
       [0.25      ],
       [0.09615385],
       [0.23076923],
       [0.13461538],
       [0.44230769],
       [0.11538462],
       [0.46153846],
       [0.05769231],
       [0.05769231],
       [0.05769231],
       [0.32692308],
       [0.21153846],
       [0.51923077],
       [0.26923077],
       [0.53846154],
       [0.07692308],
       [0.11538462],
       [0.15384615],
       [0.09615385],
       [0.11538462],
       [0.21153846],
       [0.09615385],
       [0.13461538],
       [0.59615385],
       [0.13461538],
       [0.07692308],
       [0.25      ],
       [0.09615385],
       [0.23076923],
       [0.09615385],
       [0.15384615],
       [0.11538462],
       [0.59615385],
       [0.05769231],
       [0.07692308],
       [0.40384615],
       [0.46153846],
       [0.15384615],
       [0.5       ],
       [0.11538462],
       [0.17307692],
       [0.46153846],
       [0.11538462],
       [0.09615385],
       [0.59615385],
       [0.01923077],
       [0.75      ],
       [0.15384615],
       [0.13461538],
       [0.13461538],
       [0.09615385],
       [0.28846154],
       [0.07692308],
       [0.13461538],
       [0.23076923],
       [0.84615385],
       [0.30769231],
       [0.15384615],
       [0.25      ],
       [0.13461538],
       [0.19230769],
       [0.21153846],
       [0.11538462],
       [0.11538462],
       [0.13461538],
       [0.07692308],
       [0.11538462],
       [0.13461538],
       [0.09615385],
       [0.17307692],
       [0.13461538],
       [0.13461538],
       [0.13461538],
       [0.21153846],
       [0.15384615],
       [0.48076923],
       [0.13461538],
       [0.28846154],
       [0.13461538],
       [0.17307692],
       [0.07692308],
       [0.17307692],
       [0.34615385],
       [0.15384615],
       [0.26923077],
       [0.11538462],
       [0.11538462],
       [0.71153846],
       [0.17307692],
       [0.23076923],
       [0.38461538],
       [0.30769231],
       [0.07692308],
       [0.34615385],
       [0.07692308],
       [0.46153846],
       [0.09615385],
       [0.36538462],
       [0.23076923],
       [0.13461538],
       [0.67307692],
       [0.69230769],
       [0.17307692],
       [0.28846154],
       [0.38461538],
       [0.17307692],
       [0.30769231],
       [0.23076923],
       [0.07692308],
       [0.09615385],
       [0.11538462],
       [0.32692308],
       [0.11538462],
       [0.09615385],
       [0.09615385],
       [0.11538462],
       [0.09615385],
       [0.13461538],
       [0.11538462],
       [0.05769231],
       [0.28846154],
       [0.17307692],
       [0.11538462],
       [0.30769231],
       [0.11538462],
       [0.09615385],
       [0.15384615],
       [0.09615385],
       [0.80769231],
       [0.11538462],
       [0.13461538],
       [0.11538462],
       [0.11538462],
       [0.11538462],
       [0.11538462],
       [0.17307692],
       [0.13461538],
       [0.13461538],
       [0.40384615],
       [0.09615385],
       [0.23076923],
       [0.38461538],
       [0.57692308],
       [0.23076923],
       [0.40384615],
       [0.13461538],
       [0.09615385],
       [0.11538462],
       [0.13461538],
       [0.11538462],
       [0.11538462],
       [0.09615385],
       [0.13461538],
       [0.11538462],
       [0.44230769],
       [0.11538462],
       [0.21153846],
       [0.11538462],
       [0.13461538],
       [0.26923077],
       [0.13461538],
       [0.26923077],
       [0.11538462],
       [0.11538462],
       [0.09615385],
       [0.15384615],
       [0.59615385],
       [0.59615385],
       [0.11538462],
       [0.17307692],
       [0.23076923],
       [0.17307692],
       [0.28846154],
       [0.09615385],
       [0.07692308],
       [0.07692308],
       [0.13461538],
       [0.13461538],
       [0.09615385],
       [0.21153846],
       [0.11538462],
       [0.07692308],
       [0.09615385],
       [0.09615385],
       [0.07692308],
       [0.19230769],
       [0.09615385],
       [0.19230769],
       [0.09615385],
       [0.09615385],
       [0.07692308],
       [0.26923077],
       [0.09615385],
       [0.09615385],
       [0.09615385],
       [0.09615385],
       [0.23076923],
       [0.09615385],
       [0.07692308],
       [0.09615385],
       [0.13461538],
       [0.09615385],
       [0.09615385],
       [0.07692308],
       [0.05769231],
       [0.07692308],
       [0.03846154],
       [0.55769231],
       [0.34615385],
       [0.09615385],
       [0.09615385],
       [0.07692308],
       [0.23076923],
       [0.09615385],
       [0.11538462],
       [0.48076923],
       [0.40384615],
       [0.28846154],
       [0.19230769],
       [0.25      ],
       [0.11538462],
       [0.11538462],
       [0.11538462],
       [0.82692308],
       [0.13461538],
       [0.13461538],
       [0.13461538],
       [0.05769231],
       [0.13461538],
       [0.07692308],
       [0.57692308],
       [0.13461538],
       [0.07692308],
       [0.26923077],
       [0.17307692],
       [0.53846154],
       [0.11538462],
       [0.21153846],
       [0.17307692],
       [0.17307692],
       [0.19230769],
       [0.34615385],
       [0.09615385],
       [0.09615385],
       [0.11538462],
       [0.13461538],
       [0.13461538],
       [0.19230769],
       [0.13461538],
       [0.19230769],
       [0.23076923],
       [0.21153846],
       [0.26923077],
       [0.46153846],
       [0.34615385],
       [0.09615385],
       [0.55769231],
       [0.09615385],
       [0.09615385],
       [0.11538462],
       [0.13461538],
       [0.09615385],
       [0.09615385],
       [0.09615385],
       [0.11538462],
       [0.09615385],
       [0.11538462],
       [0.11538462],
       [0.11538462],
       [0.09615385],
       [0.11538462],
       [0.09615385],
       [0.11538462],
       [0.17307692],
       [0.11538462],
       [0.13461538],
       [0.09615385],
       [0.09615385],
       [0.11538462],
       [0.11538462],
       [0.09615385],
       [0.11538462],
       [0.15384615],
       [0.11538462],
       [0.11538462],
       [0.13461538],
       [0.09615385],
       [0.13461538],
       [0.09615385],
       [0.11538462],
       [0.11538462],
       [0.09615385],
       [0.09615385],
       [0.17307692],
       [0.09615385],
       [0.09615385],
       [0.11538462],
       [0.11538462],
       [0.63461538],
       [0.17307692],
       [0.30769231],
       [0.13461538],
       [0.19230769],
       [0.63461538],
       [0.13461538],
       [0.17307692],
       [0.48076923],
       [0.11538462],
       [0.92307692],
       [0.09615385],
       [0.15384615],
       [0.40384615],
       [0.21153846],
       [0.        ],
       [0.40384615],
       [0.44230769],
       [0.25      ],
       [0.17307692],
       [0.25      ],
       [0.07692308],
       [0.11538462],
       [0.28846154],
       [0.44230769],
       [0.32692308],
       [0.09615385],
       [0.42307692],
       [0.03846154],
       [0.11538462],
       [0.42307692],
       [0.32692308],
       [0.13461538],
       [0.07692308],
       [0.17307692],
       [0.15384615],
       [0.13461538],
       [0.11538462],
       [0.86538462],
       [0.19230769],
       [0.25      ],
       [0.17307692],
       [0.17307692],
       [0.25      ],
       [0.11538462],
       [0.23076923],
       [0.21153846],
       [0.11538462],
       [0.21153846],
       [0.13461538],
       [0.46153846],
       [0.57692308],
       [0.55769231],
       [0.15384615],
       [0.09615385],
       [0.75      ],
       [0.11538462],
       [0.09615385],
       [0.19230769],
       [0.11538462],
       [0.13461538],
       [0.21153846],
       [0.23076923],
       [0.11538462],
       [0.19230769],
       [0.44230769],
       [0.15384615],
       [0.40384615],
       [0.15384615],
       [0.28846154],
       [0.19230769],
       [0.21153846],
       [0.09615385],
       [0.63461538],
       [0.28846154],
       [0.23076923],
       [0.11538462],
       [0.32692308],
       [0.19230769],
       [0.30769231],
       [0.11538462],
       [0.78846154],
       [0.13461538],
       [0.19230769],
       [0.28846154],
       [0.30769231],
       [0.11538462],
       [0.28846154],
       [0.25      ],
       [0.40384615],
       [0.23076923],
       [0.23076923],
       [0.13461538],
       [0.23076923],
       [0.51923077],
       [0.21153846],
       [0.42307692],
       [0.23076923]])

In [6]:
df.head()

       gender  education  age  ACT  SATV   SATQ
29442       2          3   19   24   500  500.0
29457       2          3   23   35   600  500.0
29498       2          3   20   21   480  470.0
29503       1          4   27   26   550  520.0
29504       1          2   33   31   600  550.0

In [10]:
df_scaled = df.copy()

scaler = sklearn.preprocessing.MinMaxScaler()

scaler.fit(df[['age']])
df_scaled['age'] = scaler.transform(df[['age']])

scaler.fit(df[['ACT']])
df_scaled['ACT'] = scaler.transform(df[['ACT']])

scaler.fit(df[['SATV']])
df_scaled['SATV'] = scaler.transform(df[['SATV']])

In [12]:
df_scaled.head()

       gender  education       age       ACT      SATV   SATQ
29442       2          3  0.115385  0.636364  0.500000  500.0
29457       2          3  0.192308  0.969697  0.666667  500.0
29498       2          3  0.134615  0.545455  0.466667  470.0
29503       1          4  0.269231  0.696970  0.583333  520.0
29504       1          2  0.384615  0.848485  0.666667  550.0

In [21]:
scaler = sklearn.preprocessing.MinMaxScaler()

df_scaled = df.copy()

scaler.fit(df[['age', 'ACT', 'SATV', 'SATQ']])

df_scaled[['age', 'ACT', 'SATV', 'SATQ']] = scaler.transform(df[['age', 'ACT', 'SATV', 'SATQ']])

df_scaled.head()

       gender  education       age       ACT      SATV      SATQ
29442       2          3  0.115385  0.636364  0.500000  0.500000
29457       2          3  0.192308  0.969697  0.666667  0.500000
29498       2          3  0.134615  0.545455  0.466667  0.450000
29503       1          4  0.269231  0.696970  0.583333  0.533333
29504       1          2  0.384615  0.848485  0.666667  0.583333

In [22]:
df.iloc[:, -3] # all the rows except the last 3 columns
df.iloc[:5, :2] #first 5 rows and first 2 columns

       gender  education
29442       2          3
29457       2          3
29498       2          3
29503       1          4
29504       1          2

### why do we need to copy?

In [16]:
mpg = pydataset.data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [19]:
mpg_scaled = mpg

scaler = sklearn.preprocessing.MinMaxScaler()

scaler.fit(mpg[['hwy']])
mpg_scaled['hwy'] = scaler.transform(mpg[['hwy']])
mpg_scaled.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,0.53125,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,0.53125,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,0.59375,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,0.56250,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,0.43750,p,compact

In [20]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,0.53125,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,0.53125,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,0.59375,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,0.56250,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,0.43750,p,compact

scaling with train test dataset

In [36]:
df = pydataset.data('sat.act')
df.head()


#do the train test split

train, test = train_test_split(df, random_state=123, train_size=.8)

In [39]:
scaler = sklearn.preprocessing.MinMaxScaler()

scaler.fit(train)

train_scaled = scaler.transform(train)

test_scaled = scaler.transform(test)

train_scaled

array([[0.        , 0.6       , 0.11538462, 0.71428571, 0.41666667,
        0.41666667],
       [1.        , 0.6       , 0.17307692, 0.80952381, 0.83333333,
        0.81666667],
       [1.        , 0.6       , 0.13461538, 0.42857143, 0.66666667,
        0.43333333],
       ...,
       [0.        , 0.6       , 0.13461538, 0.33333333, 0.66666667,
        0.41666667],
       [1.        , 1.        , 0.21153846, 0.76190476, 0.78333333,
        0.8       ],
       [0.        , 0.        , 0.03846154, 0.80952381, 0.75      ,
        0.41666667]])

In [40]:
scaler = sklearn.preprocessing.MinMaxScaler()

scaler.fit(train)

# turn the resulting numpy array into a dataframe
train_scaled = pd.DataFrame(scaler.transform(train), columns=train.columns, index=train.index )

train_scaled

       gender  education       age       ACT      SATV      SATQ
37130     0.0        0.6  0.115385  0.714286  0.416667  0.416667
34812     1.0        0.6  0.173077  0.809524  0.833333  0.816667
33345     1.0        0.6  0.134615  0.428571  0.666667  0.433333
34583     1.0        0.6  0.230769  0.571429  0.500000  0.500000
38079     1.0        0.6  0.115385  0.761905  0.883333  0.800000
...       ...        ...       ...       ...       ...       ...
30899     1.0        0.6  0.134615  0.714286  0.066667  0.666667
34414     1.0        0.2  0.096154  0.571429  0.800000  0.566667
35350     0.0        0.6  0.134615  0.333333  0.666667  0.416667
35147     1.0        1.0  0.211538  0.761905  0.783333  0.800000
37071     0.0        0.0  0.038462  0.809524  0.750000  0.416667

[560 rows x 6 columns]